@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;900&display=swap");

:root {
    --color-lt-blue: #0998eb;
    --lt-blue-h: 202;
    --lt-blue-s: 93%;
    --lt-blue-l: 48%;
    --container-padding: clamp(1rem, 1vw, 2rem);
    --container-width: clamp(375px, 80vw, 900px);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Inconsolata", monospace;
    display: grid;
    place-items: center;
    position: relative;
}

.body--error {
    background-color: #eee;
    font-size: 5rem;
    justify-content: center;
    padding-block: 6rem;
}
.body--error i {
    color: rgb(175, 26, 26);
}

.body--error h1 {
    width: var(--container-width);
    text-align: center;
    color: rgb(175, 26, 26);
    letter-spacing: 0.2ch;
}
.body--error p {
    width: calc(var(--container-width) * 0.75);
    text-align: center;
    font-size: 1.5rem;
}
.body--error a {
    font-size: 1.5rem;
    background-color: hsl(var(--lt-blue-h), var(--lt-blue-s), var(--lt-blue-l));
    color: white;
    padding: 1rem;
    border-radius: 100vw;
    text-decoration: none;
}

.container {
    display: grid;
    place-items: center;
    grid-template-rows: 84px auto 64px;
    padding-block: 1rem;
    height: 100%;
    padding: var(--container-padding);
    width: var(--container-width);
}

.test {
    display: grid;
    grid-template-rows: auto repeat(2, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.status {
    width: 8rem;
    height: 3rem;
    margin-inline: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
}

.status::after {
    position: absolute;
    inset: 0;
    color: hsl(
        var(--lt-blue-h),
        var(--lt-blue-s),
        calc(var(--lt-blue-l) + 25%)
    );
    content: "\f254";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    font-size: 2rem;
    display: none;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 2000ms;
    animation-duration: 2000ms;
}

.show::after {
    display: grid;
    place-items: center;
}

.status.animate-waves span {
    -webkit-animation-name: sound;
    animation-name: sound;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.status span {
    width: 1rem;
    height: 0;
    background-color: hsl(var(--lt-blue-h), var(--lt-blue-s), var(--lt-blue-l));
    border-radius: 2px;
}

.status span:nth-child(1) {
    -webkit-animation-duration: 600ms;
    animation-duration: 600ms;
    max-height: 1.3rem;
}
.status span:nth-child(2) {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
    max-height: 2rem;
}
.status span:nth-child(3) {
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
}
.status span:nth-child(4) {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
}
.status span:nth-child(5) {
    -webkit-animation-duration: 900ms;
    animation-duration: 900ms;
    max-height: 2rem;
}
.status span:nth-child(6) {
    -webkit-animation-duration: 700ms;
    animation-duration: 700ms;
    max-height: 1.3rem;
}

@-webkit-keyframes sound {
    20% {
        height: 3rem;
    }
    50% {
        height: 0.3rem;
    }
    80% {
        height: 1rem;
    }
    100% {
        height: 0%;
    }
}

@keyframes sound {
    20% {
        height: 3rem;
    }
    50% {
        height: 0.3rem;
    }
    80% {
        height: 1rem;
    }
    100% {
        height: 0%;
    }
}
@-webkit-keyframes spin {
    0% {
        transform: rotate(0);
    }
    24% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
    }
    49% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    74% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    99% {
        transform: rotate(270deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    24% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
    }
    49% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    74% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    99% {
        transform: rotate(270deg);
    }
}

.sentence-container {
    position: relative;
    margin-bottom: 1rem;
}

.sentence {
    text-align: center;
    font-size: clamp(1.5rem, 0.1071rem + 3.8095vw, 2.25rem);
    font-weight: 400;
    padding: 1rem;
    caret-color: hsl(var(--lt-blue-h), var(--lt-blue-s), var(--lt-blue-l));
}

.sentence-recording:not(:empty)::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f071";
    font-size: 1.5rem;
    margin-right: 2rem;
}
.sentence-recording:not(:empty).success {
    background-color: aquamarine;
}
.sentence-recording:not(:empty).success::before {
    content: "\f058";
}
.sentence-recording:not(:empty).error {
    color: rgb(180, 20, 20);
    background-color: #ffbaba;
}

.buttons {
    display: flex;
    gap: 1rem;
    /* margin-bottom: 2rem; */
}

.btn {
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
    box-shadow: -5px 6px 5px 0px rgba(0, 0, 0, 0.5);
    border-color: #777;
    font-size: clamp(1.25rem, 0.8036rem + 1.9048vw, 1.875rem);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-record:active:not([disabled]) {
    box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}
.btn:active:not([disabled]):not(.close-modal) {
    top: 1px;
}

.btn-record,
.btn-edit {
    --hue: var(--lt-blue-h);
    --saturation: var(--lt-blue-s);
    --lightness: calc(var(--lt-blue-l) + 15%);

    border-top: 2px solid #777;
    border-right: 2px solid #777;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    color: hsl(var(--hue), var(--saturation), var(--lightness));
}

.btn:disabled {
    cursor: not-allowed;
}

.btn-record:hover,
.btn-record:focus-visible,
.btn-edit:hover,
.btn-edit:focus-visible {
    --lightness: var(--lt-blue-l);
    opacity: 1;
}

.btn-new,
.close-modal {
    background-color: #ffffff;
    border: 0;
    border-radius: 0.5rem;
    color: #111827;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.75rem 1rem;
    -webkit-text-decoration: none #d1d5db solid;
    text-decoration: none #d1d5db solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 70%), 0 1px 2px 0 rgb(0 0 0 / 60%);
    touch-action: manipulation;
}

.btn-new:hover,
.close-modal:hover {
    background-color: rgb(249, 250, 251);
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.btn:focus-visible {
    box-shadow: none;
}
.btn-record.recording::before {
    content: "\f28d";
    color: red;
}

.btn-record::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f130";
}

.btn-record:disabled::before {
    content: "\f131";
    color: #777;
}

.btn-info {
    --hue: var(--lt-blue-h);
    --saturation: var(--lt-blue-s);
    --lightness: calc(var(--lt-blue-l) - 10%);
    cursor: help;

    position: absolute;
    display: grid;
    place-items: center;
    color: hsl(var(--hue), var(--saturation), var(--lightness));
    bottom: var(--container-padding);
    left: var(--container-padding);
    border-color: #777;
    border-radius: 50%;
    font-size: var(--container-padding);
    aspect-ratio: 1/1;
}

.btn-info:hover,
.btn-info:focus-visible {
    --lightness: var(--lt-blue-l);
}

.btn-info:focus-visible {
    outline: 2px dashed red;
    outline-offset: 2px;
}

.btn-container {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -2rem;
}

.btn-edit {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    display: inline-flex;
    border-radius: 5px;
    border-color: #aaa;
    margin-left: 1rem;
    opacity: 0.5;
}

.btn-edit::before {
    margin: auto;
}

.forms {
    --gap-x: 1rem;
    --gap-y: 0.3rem;
    --label-height: clamp(1rem, 0.8036rem + 1.9048vw, 1.5rem);
    --left: calc(0px - var(--label-height) - var(--gap-x) * 0.7);
    --hue: var(--lt-blue-h);
    --saturation: var(--lt-blue-s);
    --lightness: calc(var(--lt-blue-l) + 15%);
    display: flex;
    font-size: clamp(1rem, 0.6429rem + 1.5238vw, 1.5rem);
    justify-content: space-between;
    width: 100%;
}

.radio-form {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    text-transform: uppercase;
    -moz-column-gap: var(--gap-x);
    column-gap: var(--gap-x);
    padding-right: var(--gap-x);
}

input[type="radio"] {
    vertical-align: middle;
    width: calc(var(--label-height) * 0.7);
    height: calc(var(--label-height) * 0.7);
    cursor: pointer;
}
input[type="radio"]:checked + label {
    color: white;
    background-color: transparent;
}
input[type="radio"]:hover + label::before {
    font-size: 300;
    background-color: hsl(var(--hue), var(--saturation), var(--lightness));
    border-color: #333 #333 #777 #777;
}

input[type="radio"]:focus-visible + label::before {
    outline: 3px dashed red;
    outline-offset: 1px;
}

input[type="radio"]:checked + label::before {
    --lightness: var(--lt-blue-l);
    background-color: hsl(var(--hue), var(--saturation), var(--lightness));
    border-color: #333 #333 #777 #777;
    width: calc(100% + (var(--label-height) * 1.5) + var(--gap-x));
}

label {
    position: relative;
    cursor: pointer;
    height: var(--label-height);
    line-height: var(--label-height);
    z-index: 20;
    isolation: isolate;
}

label::before {
    --hue: var(--lt-blue-h);
    --saturation: var(--lt-blue-s);
    --lightness: calc(var(--lt-blue-l) + 25%);

    content: "";
    position: absolute;
    width: var(--label-height);
    height: var(--label-height);
    background-color: white;
    border: 2px solid hsl(var(--hue), var(--saturation), var(--lightness));
    left: var(--left);
    top: 50%;
    border-radius: 100vw;
    transform: translateY(-50%);
    transition: width 250ms cubic-bezier(0, 0.73, 0.74, 0.39);
    z-index: -1;
    pointer-events: none;
}

dialog {
    position: absolute;
    margin: auto;
    width: var(--container-width);
    padding: calc(var(--container-padding) * 3);
    border-radius: 0.5rem;
    border: none;
    font-size: clamp(1rem, 0.6429rem + 1.5238vw, 1.5rem);
    font-weight: 400;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    text-transform: capitalize;
}

.modal-container {
    gap: 0.5rem;
}

dialog::-webkit-backdrop {
    background: rgba(0, 0, 0, 0.35);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.55);
}

.close-modal {
    position: absolute;
    font-weight: 900;
    font-size: 2rem;
    margin-left: auto;
    box-shadow: none;
    top: 1rem;
    right: 1rem;
}

.close-modal:active{
    top: calc(1rem + 1px);
}

ol {
    gap: 0.5rem;
}

.fl-col {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .btn-info {
        right: var(--container-padding);
        top: calc(var(--container-padding) / 2);
        left: auto;
        bottom: auto;
    }
}
